.cart-dropdown {
    position: absolute;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #BC412B;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
  
    .cart-items {
      height: 400px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  .empty-msg{
    font-size: 18px;
    margin: 80px auto;
  }
    button {
      align-self: center;
      width: 150px;
      margin-top: auto;
      background-color: #BC412B;
      border: none;
    }
    button:hover{
      background-color: #ED7C3D;
    }
  }