.cart-dropdown {
    position: absolute;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ED7C3D;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
  
    .cart-items {
      height: 400px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      align-self: center;
      width: 150px;
      margin-top: auto;
      background-color: #ED7C3D;
      border: none;
    }
    button:hover{
      background-color: white;
      color: #ED7C3D;
      border: 2px solid #ED7C3D;
    }
  }