.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #ED7C3D;
    
    
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 10px 40px;
      color: white;
    }

    .logo{
        font-size: 2rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px 40px;
      color: white;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
        color: white;
        font-weight: 700;
      }
    }
  }